# Build / generated
.cache
compile_commands.json

# Python
.venv
__pycache__

# ruff
.ruff_cache
ruff.toml

# clang-format / clangd
.clang-format
.clangd

# eslint
.eslintcache
eslint.config.mjs

# prettier
.prettierignore
.prettierrc.json

# npm
.npmrc
node_modules/
package-lock.json
package.json

# vscode
.vscode
